.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  max-width: var(--max-width);
  padding: 0 var(--space-md);
}

.List {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  background-color: var(--background);
  align-items: stretch;
  padding: var(--space-md);
  border-radius: var(--border-radius);
}

.ListItem {
  cursor: pointer;
  &:not(:last-child)::after {
    cursor: initial;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--light);
    margin: var(--space-sm) 0;
  }
}
